.svg-page-logo {
	.path-0-1 {
		fill: #ececec;
		stroke: #1f104f;
		mix-blend-mode: source-over;
		paint-order: stroke fill markers;
		fill-opacity: 1;
		stroke-dasharray: none;
		stroke-dashoffset: 0;
		stroke-linecap: round;
		stroke-linejoin: miter;
		stroke-miterlimit: 4;
		stroke-opacity: 1;
		stroke-width: 14;
	}

	.g-1-1 {
		mix-blend-mode: source-over;
	}

	.g-1-2 {
		paint-order: stroke fill markers;
	}

	.g-2-1 {
		mix-blend-mode: source-over;
	}

	.g-2-2 {
		paint-order: stroke fill markers;
	}

	.path-1-1 {
		fill: #e38ff9;
	}

	.path-2-1 {
		fill: #431b44;
	}
}
