@import '../../../styles/colors.scss';

@mixin main-size {
	width: 100vw;
	height: 100vh;
}

@keyframes text-fade-in {
	0% {
		opacity: 0;
		font-variation-settings: 'wght' 100;
	}

	100% {
		opacity: 1;
		font-variation-settings: 'wght' 200;
	}
}

$main-fade-in-animation-time: 3s;

#ppd-app {
	@keyframes fade-in {
		0% {
			// background-image: background-main-gradient-before, url('/images/background5.jpg');
			opacity: 0;
		}

		100% {
			// background-image: $background-main-gradient-after, url('/images/background5.jpg');
			opacity: 1;
		}
	}
	// .main-placeholder {
	// 	@include main-size;
	// 	z-index: -1;
	// 	position: relative;
	// }

	.logo-first {
		// font-size: $logo-font-size;
		fill: $logo-first-color;
		color: $logo-first-color;
	}

	.logo-second {
		// font-size: $logo-font-size;
		fill: $logo-second-color;
		color: $logo-second-color;
	}

	.nav {
		position: absolute;
		padding: 20px 25px;
		z-index: 1;
		animation: fade-in 2s;
		animation-delay: 3s;
		opacity: 0;
		$main-fade-in-animation-time: 2s;

		animation-fill-mode: forwards;

		.page-logo {
			// top: 25px;
			// left: 40px;
		}
	}

	.main-background {
		position: absolute;
		z-index: -1;
		background: #0e0e0e;
		background-size: cover;
		background-repeat: no-repeat;
		top: 0;
		width: 100vw;
		height: 120vh;
	}

	.main {
		@include main-size;

		font-family: "Spartan";
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		top: 0;
		z-index: 0;
		background-position: center;
		background-size: cover;
		background-position-x: 500px;
		background-position-y: 0px;
		background-repeat: no-repeat;
		background-image: $background-main-gradient, url('/images/background5.jpg');
		animation: fade-in $main-fade-in-animation-time;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;
		// clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
		// background-position-y: -200px;
		top: 0;
		// width: 100vw;
		height: 120vh;
		// background-image: url("/images/main_background.jpg");
		// background-image: $background-gradient-1, url('/images/background5.jpg');
		background-blend-mode: soft-light;

		.main-footer {
			width: 100vw;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			background: $background-main-footer-gradient;
		}

		.content-wrapper {
			width: 50vw;
			margin-left: 10vw;
			margin-top: 30vh;
			text-align: left;
		}

		.title {
			font-size: 50px;
			line-height: 150%;
			font-variation-settings: 'wght' 200;
			color: white;
			animation: text-fade-in $main-fade-in-animation-time;
			animation-fill-mode: forwards;
			// text-shadow: -1px 2px 1px #292929, -2px 4px 2px #292929, -3px 6px 3px rgba(#292929, 0.6),
			// 	-4px 8px 4px rgba(#292929, 0.5), -5px 10px 5px rgba(#292929, 0.4), -6px 12px 6px rgba(#292929, 0.3),
			// 	-7px 13px 7px rgba(#292929, 0.2), -8px 15px 8px rgba(#292929, 0.2), -9px 17px 9px rgba(#292929, 0.2),
			// 	-10px 19px 10px rgba(#292929, 0.2), -11px 20px 11px rgba(#292929, 0.1),
			// 	-12px 22px 12px rgba(#292929, 0.1), -13px 24px 13px rgba(#292929, 0.1),
			// 	-14px 26px 14px rgba(#292929, 0.1), -15px 28px 15px rgba(#292929, 0.1),
			// 	-16px 30px 16px rgba(#292929, 0.1), -17px 32px 17px rgba(#292929, 0.1),
			// 	-18px 34px 18px rgba(#292929, 0.1), -19px 36px 19px rgba(#292929, 0.1),
			// 	-20px 38px 20px rgba(#292929, 0.1), -21px 39px 21px rgba(#292929, 0.1);
		}

		.subtitle {
			color: rgb(228, 228, 228);
		}
	}

	#form-section {
		background: $background-form-section;
		// clip-path: polygon(-20% 0, -20% 100%, 100% 100%, 100% 0);

		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
	}

	form {
		width: 50vw;
	}

	.section {
		position: relative;
		z-index: 1;
	}

	.is-size-9 {
		font-size: .25rem;
	}

	.is-size-8 {
		font-size: .5rem;
	}

	.bg-linear-alpha-gray-100 {
		background: linear-gradient(to top, $gray-100, $gray-100, $gray-100-transparent-80);
	}

	.down-arrow {
		transition: all 0.2s;
		transform: translateY(0px) scale(1);
		cursor: pointer;

		&:hover,
		&:focus {
			color: $logo-first-color;
			transform: translateY(5px) scale(1.1);
		}
	}

	.options-title {
		font-size: 24px;
		font-weight: 300;
		color: $accent-1;
	}

	.option-label {
		font-size: 15px;
		font-weight: 300;
		margin-top: 6px;
		color: white;
	}

	.options-header {
		font-size: 24px;
		font-weight: 300;
		color: $accent-1;
	}

	// [data-id="visual-picker_option-container"] {
	// 	width: 120px;
	// 	height: 120px;
	// }

	// [data-id="visual-picker_option-label"] {
	// 	width: 120px;
	// 	height: 120px;
	// }
}
