@import '../../../styles/colors.scss';

@mixin main-size {
	width: 100vw;
	height: 100vh;
}

// $logo-font-size: initial;

#ppd-app {
	// .main-placeholder {
	// 	@include main-size;
	// 	z-index: -1;
	// 	position: relative;
	// }

	.logo-first {
		$logo-first-color: rgb(224, 0, 0);

		// font-size: $logo-font-size;
		fill: $logo-first-color;
		color: $logo-first-color;
	}

	.logo-second {
		$logo-second-color: rgb(82, 137, 219);

		// font-size: $logo-font-size;
		fill: $logo-second-color;
		color: $logo-second-color;
	}

	.nav {
		position: absolute;
		padding: 20px 25px;
		z-index: 1;

		.page-logo {
			// top: 25px;
			// left: 40px;
		}
	}

	.main-background {
		position: absolute;
		z-index: -1;
		background: rgb(17, 17, 17);
		background-size: cover;
		background-repeat: no-repeat;
		top: 0;
		width: 100vw;
		height: 100vh;
	}

	.main {
		@include main-size;
		font-family: "Spartan";
		position: relative;
		display: flex;
		justify-content: flex-start;
		top: 0;
		z-index: 0;
		background-position: center;
		background-size: cover;
		background-position-x: 500px;
		background-position-y: 0px;
		background-repeat: no-repeat;
		// background-position-y: -200px;
		top: 0;
		// width: 100vw;
		height: 100vh;
		// background-image: url("/images/main_background.jpg");
		background-image: $background-gradient-1, url('/images/background5.jpg');
		background-blend-mode: soft-light;

		.content-wrapper {
			width: 50vw;
			margin-left: 10vw;
			margin-top: 30vh;
			text-align: left;
		}

		.title {
			font-size: 50px;
			line-height: 150%;
			font-variation-settings: 'wght' 300;
			color: white;
		}

		.subtitle {
			color: rgb(228, 228, 228);
		}
	}

	.section {
		position: relative;
		z-index: 1;
	}

	.is-size-9 {
		font-size: .25rem;
	}

	.is-size-8 {
		font-size: .5rem;
	}

	.bg-linear-alpha-gray-100 {
		background: linear-gradient(to top, $gray-100, $gray-100, $gray-100-transparent-80);
	}
}
