@import '../../../styles/colors.scss';

@mixin main-size {
	width: 100vw;
	height: 100vh;
}

$section-background-color: #fefefe;

#ppd-app {
	// .main-placeholder {
	// 	@include main-size;
	// 	z-index: -1;
	// 	position: relative;
	// }

	.nav {
		position: absolute;
		z-index: 1;

		.page-logo {
			top: 25px;
			left: 25px;
		}
	}

	.main {
		@include main-size;
		font-family: "Spartan";
		font-variation-settings: 'wght' 375, 'GRAD' 88;
		position: relative;
		display: flex;
		justify-content: center;
		top: 0;
		z-index: 0;
		// background-image: url("/images/main_background.jpg");
		background: $background-gradient-2;
		background-blend-mode: hard-light;
		background-size: cover;
		background-repeat: no-repeat;

		.content-wrapper {
			margin-left: 5vw;
			margin-top: 20vh;
			text-align: left;
		}
	}

	.section {
		position: relative;
		z-index: 1;
	}

	.is-size-9 {
		font-size: .25rem;
	}

	.is-size-8 {
		font-size: .5rem;
	}

	.bg-linear-alpha-gray-100 {
		background: linear-gradient(to top, $gray-100, $gray-100, $gray-100-transparent-80);
	}
}
